.registerPage {
  min-height: 100vh;
  background: #000000;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(193, 116, 15, 0.762) 0%,
    rgb(228, 212, 197) 92%
  );
}

.login-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}
.primary-btn {
  max-width: auto;
}
